# Ignora arquivos de sistema
#.DS_Store
#Thumbs.db

# Ignora pastas inteiras (ex: dependências)
venv/
__pycache__/


# Ignora arquivos específicos


# Ignora todas as extensões específicas
#*.log
#*.zip